body {
  margin: 0; /* elimină cei 8 px din jurul paginii */
  background-color: rgba(150, 103, 16, 0.356);
}
.title {
  margin: 0;
  padding-top: 20px;
}
.main-body {
  margin-top: 0; /* dacă vrei să fii sigur că div-ul nu adaugă alt spaţiu */
  border: none;
  text-align: center;
}
.formular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.formular > input[type="text"] {
  width: 30%;
  padding: 12px 20px;
  margin: 0 50% 1% 34%;
  border: 2px solid rgb(0, 38, 255);
  font-family: cursive;
  border-radius: 12px;
}

button {
  background-color: #041daa;
  border: none;
  border-radius: 12px;
  transition-duration: 0.4s;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #12aa04; /* Green */
  color: white;
}
.book {
  display: flex;
  margin-top: 2%;
  gap: 12%;
  justify-content: center;
}

.btn {
  display: flex;
}
.bk-des {
  padding: 7px;
  background-color: #12aa04;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  gap: 2%;
}
